/* declaring valiables */
:root{
    --white: white;
    --black: #111111;
    --grey-light: #c8c8c8;
    --grey-dark:#222222;
  
    --shadow-light: 10px 10px 20px rgba(0,0,0,16);
    --shadow-dark: 10px 10px 20px rgba(170,170,170,.16);
  }
  /* UNIVERSAL */
  *{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }
  .form{
    display: block;
    flex-direction: column;
  }