/* declaring valiables */
:root{
  --white: white;
  --black: #111111;
  --grey-light: #c8c8c8;
  --grey-dark:#222222;

  --shadow-light: 10px 10px 20px rgba(0,0,0,16);
  --shadow-dark: 10px 10px 20px rgba(170,170,170,.16);
}
/* UNIVERSAL */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "poppins", sans-serif;
    
}
/* CREATING BODY AND MAIN */
body{
    background-color: var(--white);
    transition: .3s ease all;
    background-image: url('/asses/Images/landscape-DAY.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* CREATING DRAK CLASS OF BODY AND ELEMENTES INSIDE */
body.dark{
    background-color: var(--black);
    background-image: url('/asses/Images/landscape-NIGHT.png');
    background-size: cover;
    background-position: center;
}

body.dark nav{
    background-color: var(--grey-dark);
    box-shadow: var(--grey-light);
}
body.dark nav a{
    color: var(--grey-light);
    text-decoration: none;
}
body.dark nav a:hover{
    color: var(--white);
    transition: .3s ease all;
}
body.dark .card{
    color: var(--white);
    transition: .3s ease all;
}
body.dark .card h3{
    color: var(--white);
    transition: .3s ease all;
}
body.dark .card p{
    color: var(--white);
    transition: .3s ease all;
}
body.dark h1{
    color: var(--white);
    transition: .3s ease all;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border: var(--black) solid 2px;
    margin: 25px;
    border-radius: 50px;
    background-color: var(--grey-light);
}
nav a{
    text-decoration: none;
    font-size: 40px;
    padding-left: 10px;
}
#switch{
    display: flex;
    background-color: var(--grey-dark);
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    box-shadow: var(--grey-light);
    cursor: pointer;

}
#switch span{
    width: 50px;
    height: 60px;
    line-height: 45px;
    display: block;
    color: var(--white);
}
#switch i{
   padding: 15px;
}

#switch::after{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: var(--white);
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0, 0, .2);
}

#switch.active {
    background-color: orange;
    color: var(--black);
}
#switch.active::after{
    right: 0;
    left: unset;
}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px;
    border: var(--black) solid 2px;
    background-color: var(--grey-light);
}

footer ul{
    list-style-type: none;
    justify-content: space-between;
    display: flex;

}
footer ul li{
   display: inline;
}
body.dark footer{
    background-color: var(--grey-dark);
    box-shadow: var(--grey-light);
}
body.dark footer ul li{
    color: var(--grey-light);
    text-decoration: none;
}
body.dark footer ul li:hover{
    color: var(--white);
}
